@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a asp-controller="Login" asp-action="Login" class="form-control">Iniciar Sesion con Google</a>